<script>
/* Delete Diaqlog */
$('a[data-confirm]').click(function(ev) {
	var href = $(this).attr('href');
	if (!$('#dataConfirmModal').length) {
		$('body').append('<div id="dataConfirmModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" \ 
		aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header" style="background:white;"><button \
		type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel"> \ 
		DATA AKAN DIHAPUS</h3></div><h3><div class="modal-body" style="color:red;"></div></h3><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Batal</button><a class="btn btn-danger" id="dataConfirmOK"> \ 
		HAPUS</a></div></div>');} 
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
        $('#dataConfirmOK').attr('href', href);
        $('#dataConfirmModal').modal({show:true});
        return false;
    });

</script>
<script>
	$('a[data-confirm]').click(function(ev) {
		var href = $(this).attr('href');
		if(!$('#dataConfirmModal').length) {
			$('body').append('
			<div id="dataConfirmModal" class="modal fade bs-modal-sm" tableindex="-1" role="dialog" aria-labelledby="dataConfirmLabel" aria-hiden="true">
			<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hiden="ture">&times;</button><h4 class="modal-title" id="dataConfrimLabel"> HAPUS DATA INI </h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sx" data-dismiss="modal" aria-hiden=""true"> BATAL </button>
					<a class="btn btn-danger btn-sx" aria-hiden="true" id="dataConfirmOK"> HAPUS </a>
				</div>
				</div></div></div>');}
		$('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
		$('#dataConfirmOK').attr('href',href);
		$('#dataConfirmModal').modal({show:true});
		return false;
	});
</script>